html, body {
  font-size: 16px;
  color: #dfdfdf;
  background-color: black;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden
}

#myVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  object-fit: cover;
}

.logo {
  height: 100px;
}

.line {
  width: 500px;
  margin: auto;
  border: 2px dotted white;
  border-radius: 50%;
}

/* .nav {
  background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145)) !important;
} */

.navbar-brand {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 2rem;
  color: black;
}

.navbar-brand:hover {
  color: #fff;
}

.nav-item {
  margin-right: 15px;
  color: black !important;
  font-size: 1.2rem !important;
}

.nav-item:hover {
  color: #fff !important;
}

.avatar {
  height: 200px;
  border: 5px solid black;
  border-radius: 50%;
}

.fa-arrow-down {
  font-size: 3rem;
}

a {
  color: #00d1b2;
}

a:hover {
  color: #fff;
}

.intro {
  color: black;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  /* font-family: Merriweather; */
  font-family: "Bitter";
}

.title {
  color: yellow;
  text-align: left;
  font-size: 2.5rem !important;
  margin-bottom: 2rem;
}

section {
  background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145));
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-1 {
  width: 100vw;
}

.about-me {
  height: 90vh;
}

.section-2 {
  width: 100vw;
}

.intro-description {
  padding-top: 1rem;
}

.project-figure {
  margin: 0 auto 1rem auto;
  max-height: 256px;
  max-width: 256px;
}

.project-img {
  border-radius: 20px;
}

.project-text {
  text-align: center;
  color: black;
  font-weight: 500;
}

.box {
  background-color: transparent;
  /* border: 2px solid rgba(7, 59, 79, 0.5); */
  border: 2px solid black;
}

.check-my-projects {
  font-weight: 600;
  font-size: 1rem;
}

.void-background {
  background-color: transparent;
}

/* Conatact Form */

.form-heading {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.form-text {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background:rgb(30,30,40);
 }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:#000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #000; }

::placeholder {
  color: #000;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#000;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:#00d1b2;
  font-size:20px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#fff; }

#footer {
  padding: 3% 15%;
  text-align: center;
  background-color: #000;
}

.fa-footer {
  margin: 10px;
}

.footer-line {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    background-color: #063647;
  }

  .nav-toggle:hover {
    background-color: transparent;
  }

  .nav-toggle span {
    background-color: #dfdfdf;
  }

  .nav-toggle span:hover {
    background-color: #fff;
  }
}
