html, body {
  font-size: 16px;
  color: #dfdfdf;
  background-color: black;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden
}

.line {
  width: 500px;
  margin: auto;
  border: 2px dotted white;
  border-radius: 50%;
}

.nav {
  background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145)) !important;
}

.navbar-brand {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 2rem;
  color: yellow;
}

.navbar-brand:hover {
  color: #000;
}

.nav-item {
  margin-right: 15px;
  color: yellow !important;
  font-size: 1.2rem !important;
}

.nav-item:hover {
  color: #000 !important;
}

.avatar {
  height: 200px;
  border: 5px solid black;
  border-radius: 50%;
}

.fa-arrow-down {
  font-size: 3rem;
}

a {
  color: #00d1b2;
}

a:hover {
  color: #fff;
}

.intro {
  color: black;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: Merriweather;
}

.title {
  color: yellow;
  text-align: left;
  font-size: 2.5rem !important;
  margin-bottom: 2rem;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-1 {
  background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145));
  width: 100vw;
}

.about-me {
  height: 90vh;
}

.section-2 {
  background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145));
  width: 100vw;
}

.intro-description {
  padding-top: 1rem;
}

.project-figure {
  margin: 0 auto 1rem auto;
  max-height: 256px;
  max-width: 256px;
}

.project-img {
  border-radius: 20px;
}

.project-text {
  text-align: center;
  color: black;
  font-weight: 500;
}

.box {
  background-color: transparent;
  /* border: 2px solid rgba(7, 59, 79, 0.5); */
  border: 2px solid black;
}

.check-my-projects {
  font-weight: 600;
  font-size: 1rem;
}

.void-background {
  background-color: transparent;
}

#footer {
  padding: 3% 15%;
  text-align: center;
}

.fa-footer {
  margin: 10px;
}

.footer-line {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    background-color: #063647;
  }

  .nav-toggle:hover {
    background-color: transparent;
  }

  .nav-toggle span {
    background-color: #dfdfdf;
  }

  .nav-toggle span:hover {
    background-color: #fff;
  }
}
